*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url("/img/fondo2.jpeg");*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .containerForm{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }